<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>
    <h1>Welcome, <%= user.name %>!</h1>
    <a href="/logout">Logout</a>
</body>
</html>